@model Recipe;
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Name</h2>



<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Instructions
            </th>
            <th>
                Preparation Time
            </th>
            <th>
                Cook Time
            </th>
            <th>
                Total Time
            </th>
        </tr>
    </thead>

    <tbody>
   
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Instructions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.PrepTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.CookTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TotalTime)
                </td>
            </tr>
        
    </tbody>
</table>
