@model Recipe;
@{
    ViewData["Title"] = "Detail";
    string[] instructions = Model.Instructions.Split('/');
}

<h1>@Model.Name</h1>

<div>
    <h3>Description</h3>
    @Model.Description.
</div>

<div>
    <h3>Time</h3>
    <p> Prep Time: @Model.PrepTime minutes.   </p> 
    <p>Cook Time: @Model.CookTime minutes.</p>
    <p>Total Time: @Model.TotalTime minutes.</p>
</div>

<div>
    <h3>Ingredients</h3>
    <ul>
    @for (int i = 0; i < Model.Ingredients.Count; i++)
    {
        <li>@if (Model.Ingredients[i].Number != "0") {@Model.Ingredients[i].Number} 
        @if (Model.Ingredients[i].Fraction != "-") {@Model.Ingredients[i].Fraction} 
        @if (Model.Ingredients[i].Unit != "item(s)") {@Model.Ingredients[i].Unit} 
        @Model.Ingredients[i].Name.</li>        
    }
    </ul>
</div>

<div>
    <h3>Instructions</h3>
    <ul>
        @for (int i = 0; i < instructions.Length; i++)
        {
            <li>@instructions[i]</li>
        }
    </ul>

</div>


