@model IEnumerable<WebApplication.Web.Models.Recipe>

@{
    ViewData["Title"] = "SearchMyRecipesByCategoryResults";

}

<h2>Search Results</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Recipe @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Recipe @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@item.RecipeId" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <form asp-controller="Recipe" asp-action="AddRecipeToUser" asp-route-recipeId="@item.RecipeId">
                        <input type="submit" value="Add To My Recipes" class="btn btn-success" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<a asp-controller="Recipe" asp-action="MyRecipes">Return To My Recipes</a>
