@model IEnumerable<WebApplication.Web.Models.Recipe>

@{
    ViewData["Title"] = "MyRecipes";
}


<h2>My Recipes</h2>


<form method="post" asp-controller="Recipe" asp-action="MyRecipesIngredientSearchResults">
    <p>
        Search recipes by Ingredient (bread, egg, garlic, etc.): <input type="text" name="searchByIngredient" required="required">
        <input type="submit" value="Search" />
    </p>
</form>

<form method="post" asp-controller="Recipe" asp-action="MyRecipesCategorySearchResults">
    <p>
        Search recipes by Category (Indian, vegan, quick, etc.): <input type="text" name="searchByCategory" required="required">
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Recipe @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Recipe @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
