@model WebApplication.Web.Models.MealViewModel

@{
    ViewData["Title"] = "CreateMeal";
    int count = ViewBag.RecipeCount;
    int elementsPerMeal = 1;
    int elementsPerRecipe = 1;
}

<style>
    #title {
        max-width: 400pt;
    }
</style>

<hidden id="visibleRecipes" value="@(Model.ModelMeal.Recipes.Count)"></hidden>
<hidden id="elementsPerMeal" value="@elementsPerMeal"></hidden>
<hidden id="elementsPerRecipe" value="@elementsPerRecipe"></hidden>

@if (Model.ModelMeal.MealId == 0)
{
    <h2>Create a New Meal</h2>
}
else
{
    <h2>Edit Meal</h2>
}

<br />

<form method="post" asp-controller="Meal" asp-action="CreateMeal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Meal Name</label>
        <input id="title" class="form-control" value="@Model.ModelMeal.Name" name="ModelList[0]" required="required"/>
    </div>
    <hr />
    <div id="recipe-container">
        <label>Recipes</label>
        <div class="meal-components form-inline">
            @for (int i = 0; i < count; i++)
            {
                <select class="recipe-name-dropdown" name="ModelList[@((i * elementsPerRecipe) + elementsPerMeal)]">
                    @for (int j = 0; j < ViewBag.ExistingRecipes.Count; j++)
                    {
                        if (Model.ModelMeal.Recipes[i].Name == ViewBag.ExistingRecipes[j].Name)
                        {
                            <option selected value="@ViewBag.ExistingRecipes[j].RecipeId.ToString()">@ViewBag.ExistingRecipes[j].Name</option>
                        }
                        else
                        {
                            <option value="@ViewBag.ExistingRecipes[j].RecipeId.ToString()">@ViewBag.ExistingRecipes[j].Name</option>
                        }
                    }
                </select>
                <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@Model.ModelMeal.Recipes[i].RecipeId" target="_blank">View Recipe Details</a>
                <br />
                <br />
            }
        </div>
    </div>
    <br />
    <div>
        <label class="control-label">Add another recipe to the meal</label>
        <br />
        <button class="btn btn-info" id="nextRecipeButton" num="1">Add existing recipe</button>
    </div>
    <hr />
    <div>
        <label class="control-label">Can't find the recipe you want? Create it here!</label>
        <br />
        <a class="btn btn-success" id="creatNewRecipeButton" asp-controller="Recipe" asp-action="Create">Create new recipe</a>
    </div>
    <div class="form-group">
        <br />
        <input type="submit" class="btn btn-primary submit-button" />
    </div>
</form>

<template id="addRecipeTemplate">
    <div class="meal-components form-inline">
        <label class="recipe-name-label"></label>
        <select class="recipe-name-dropdown">
            @for (int j = 0; j < ViewBag.ExistingRecipes.Count; j++)
            {
                <option value="@ViewBag.ExistingRecipes[j].RecipeId.ToString()">@ViewBag.ExistingRecipes[j].Name</option>
            }
        </select>
    </div>
</template>

