@model WebApplication.Web.Models.MealPlanViewModel

@{
    ViewData["Title"] = "CreatePlan";
    int planDays = Model.ModelMealPlan.Days.Count;
}
<hidden id="visibleDays"></hidden>

@if (Model.ModelMealPlan.MealPlanId == 0)
{
    <h2>Create a New Meal Plan</h2>
}
else
{
    <h2>Edit Meal Plan</h2>
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.ModelMealPlan.MealPlanId != 0)
            {
                <div hidden>
                    <input hidden asp-for="ModelMealPlan.MealPlanId" value="@Model.ModelMealPlan.MealPlanId" />
                </div>
            }
            <div class="form-group">
                <label asp-for="ModelMealPlan.Name" class="control-label"></label>
                <input asp-for="ModelMealPlan.Name" class="form-control mealPlan-name" value="@Model.ModelMealPlan.Name" />
                <span asp-validation-for="ModelMealPlan.Name" class="text-danger"></span>
            </div>

            @*Add existing meal field*@
            <div class="mealPlan-container">
                <div class="day-container"></div>
                @for (int i = 0; i < planDays; i++)
                {
                    <h4>Day @(i)</h4>
                    <div class="meal-container breakfast">
                        <label>Breakfast</label>
                        <select class="meal-name-dropdown">
                            @for (int j = 0; j < ViewBag.ExistingMeals.Count; j++)
                            {
                                if (Model.ModelMealPlan.Days[i].Breakfast.MealId == @ViewBag.ExistingMeals[j].MealId)
                                {
                                    <option selected value="@ViewBag.ExistingMeals[j].MealId">@ViewBag.ExistingMeals[j].Name</option>
                                }
                                else
                                {
                                    <option value="@ViewBag.ExistingMeals[j].MealId">@ViewBag.ExistingMeals[j].Name</option>
                                }
                            }
                        </select>
                        <button class="btn btn-primary show-meal-details">Show Meal Details</button>
                    </div>
                    <div class="meal-container lunch">
                        <label>Lunch</label>
                        <select class="meal-name-dropdown">
                            @for (int j = 0; j < ViewBag.ExistingMeals.Count; j++)
                            {
                                if (Model.ModelMealPlan.Days[i].Lunch.MealId == @ViewBag.ExistingMeals[j].MealId)
                                {
                                    <option selected value="@ViewBag.ExistingMeals[j].MealId">@ViewBag.ExistingMeals[j].Name</option>
                                }
                                else
                                {
                                    <option value="@ViewBag.ExistingMeals[j].MealId">@ViewBag.ExistingMeals[j].Name</option>
                                }
                            }
                        </select>
                        <button class="btn btn-primary show-meal-details">Show Meal Details</button>
                    </div>
                    <div class="meal-container dinner">
                        <label>Dinner</label>
                        <select class="meal-name-dropdown">
                            @for (int j = 0; j < ViewBag.ExistingMeals.Count; j++)
                            {
                                if (Model.ModelMealPlan.Days[i].Dinner.MealId == @ViewBag.ExistingMeals[j].MealId)
                                {
                                    <option selected value="@ViewBag.ExistingMeals[j].MealId">@ViewBag.ExistingMeals[j].Name</option>
                                }
                                else
                                {
                                    <option value="@ViewBag.ExistingMeals[j].MealId">@ViewBag.ExistingMeals[j].Name</option>
                                }
                            }
                        </select>
                        <button class="btn btn-primary show-meal-details">Show Meal Details</button>
                    </div>
                }
                <div>
                    <label>Can't find the meal you want? Create it here!</label>
                    <button class="btn btn-warning" id="nextNewMealButton">Create New Meal</button>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

