@model WebApplication.Web.Models.Meal

@{
    ViewData["Title"] = "MealDetail";
}

<style>


    #modify {
        width: auto;
        height: auto;
    }

    #add {
        margin-left: 15px;
        width: auto;
        height: auto;
    }

    #container {
        display: inline-flex;
        top: 50%;
        left: 50%;
    }
</style>


<h1>Meal Details for @Model.Name</h1>

<h3>Recipes</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Recipe @Html.DisplayNameFor(model => model.Recipes[0].Name)
            </th>
            <th>
                Recipe @Html.DisplayNameFor(model => model.Recipes[0].Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipes)
        {
            <tr>
                <td>
                    <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@item.RecipeId" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <form asp-controller="Recipe" asp-action="AddRecipeToUser" asp-route-recipeId="@item.RecipeId">
                        <input type="submit" value="Add To My Recipes" class="btn btn-success" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
