@model WebApplication.Web.Models.MealPlan

@{
    ViewData["Title"] = "MealPlanDetail";
}

<h1>@Model.Name</h1>

@for (int i = 0; i < 7; i++)
{
    <div>
        <h4>Day @(i + 1)</h4>
        <div class="breakfast-container">
            <p>Breakfast</p>
            @*<button id="ShowDay@(i + 1)BreakfastDetails">Show Breakfast Details</button>
            <button hidden id="HideDay@(i + 1)BreakfastDetails">Hide Breakfast Details</button>*@
            @for (int j = 0; j < Model.Days[i].Breakfast.Recipes.Count; j++)
            {
            <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@Model.Days[i].Breakfast.Recipes[j].RecipeId" target="_blank">@Model.Days[i].Breakfast.Recipes[j].Name</a>
            }
        </div>
        <div class="lunch-container">
            <p>Lunch</p>
            @*<button id="ShowDay@(i + 1)LunchDetails">Show Lunch Details</button>
            <button hidden id="HideDay@(i + 1)LunchDetails">Hide Lunch Details</button>*@
            @for (int j = 0; j < Model.Days[i].Lunch.Recipes.Count; j++)
            {
            <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@Model.Days[i].Lunch.Recipes[j].RecipeId" target="_blank">@Model.Days[i].Lunch.Recipes[j].Name</a>
            }
        </div>
        <div class="dinner-container">
            <p>Dinner</p>
            @*<button id="ShowDay@(i + 1)DinnerDetails">Show Dinner Details</button>
            <button hidden id="HideDay@(i + 1)DinnerDetails">Hide Dinner Details</button>*@
            @for (int j = 0; j < Model.Days[i].Dinner.Recipes.Count; j++)
            {
            <a asp-controller="Recipe" asp-action="Detail" asp-route-id="@Model.Days[i].Dinner.Recipes[j].RecipeId" target="_blank">@Model.Days[i].Dinner.Recipes[j].Name</a>
            }
        </div>

        @*@foreach (Recipe recipe in Model.Meals[i].Recipes)
            {
                <div><a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.RecipeId">@recipe.Name </a></div>
            }*@
    </div>
}


@*<h1>OR</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Day 1
                </th>
                <th>
                    Day 2
                </th>
                <th>
                    Day 3
                </th>
                <th>
                    Day 4
                </th>
                <th>
                    Day 5
                </th>
                <th>
                    Day 6
                </th>
                <th>
                    Day 7
                </th>
            </tr>
        </thead>
        <tbody>
        <td>
            <h4>@Model.Meals[0].Name</h4>

            @foreach (Recipe recipe in Model.Meals[0].Recipes)
            {
                <div><a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.RecipeId">@recipe.Name </a></div>
            }
        </td>
        <td>
            <h4>@Model.Meals[0].Name</h4>

            @foreach (Recipe recipe in Model.Meals[0].Recipes)
            {
                <div><a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.RecipeId">@recipe.Name </a></div>
            }
        </td>
        <td>
            <h4>@Model.Meals[0].Name</h4>

            @foreach (Recipe recipe in Model.Meals[0].Recipes)
            {
                <div><a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.RecipeId">@recipe.Name </a></div>
            }
        </td>
        <td>
            <h4>@Model.Meals[0].Name</h4>

            @foreach (Recipe recipe in Model.Meals[0].Recipes)
            {
                <div><a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.RecipeId">@recipe.Name </a></div>
            }
        </td>
        <td>
            <h4>@Model.Meals[0].Name</h4>

            @foreach (Recipe recipe in Model.Meals[0].Recipes)
            {
                <div><a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.RecipeId">@recipe.Name </a></div>
            }
        </td>
        <td>
            <h4>@Model.Meals[0].Name</h4>

            @foreach (Recipe recipe in Model.Meals[0].Recipes)
            {
                <div><a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.RecipeId">@recipe.Name </a></div>
            }
        </td>
        <td>
            <h4>@Model.Meals[0].Name</h4>

            @foreach (Recipe recipe in Model.Meals[0].Recipes)
            {
                <div><a asp-controller="Recipe" asp-action="Detail" asp-route-id="@recipe.RecipeId">@recipe.Name </a></div>
            }
        </td>
        </tbody>
    </table>*@
